@model WebApplication11.Models.Schedule



<h2>Redagavimas</h2>


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <fieldset>
                    <legend>Paštomatas</legend>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.darboRajonas)
                            <br />
                            @Model.kurjeris
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.isvykimoLaikasValandomis, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.isvykimoLaikasValandomis, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.isvykimoLaikasValandomis, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        @Html.ActionLink("Prideti diena", "ScheduleEditPage", new { id = Model.idTvarkarastis }, new { @class = "btn btn-primary action" })



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Išsaugoti" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </fieldset>}
